*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-position:center;
  position:relative;
  background-color: #ffffff;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  flex: 1;
  text-align: center;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 14px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #013220;
  text-decoration:none;
  font-size: 16px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #97bf97;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
/*----- Home -----*/
.text-box{
  width: 90%;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 80%;
  margin-top: 90px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 90px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #013220;
}
.text-box h1{
  font-size: 45px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 17px;
  color: #ffffff;
}
.text-box img{
  width: 40%;
  height: 40%;
}

/*----- About -----*/
.About{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  font-height: 22px;
  padding: 10px;
}

/*-----Gallery -----*/
.Gallery{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #013220;
}
.Gallery h1{
  color: #ffffff;
}
.Gallery-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position:relative;
  overflow: hidden;
  cursor: pointer;
}
.Gallery-col img{
  width: 100%;
  display: block;
}
.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover{
  background: #97bf97;
}
.layer h3{
  width: 100%;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}
.row{
  margin: 5%;
  display: flex;
  justify-content: space-between;
}
.layer a{
  width: 100%;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  text-decoration: none;
}
.layer:hover a{
  bottom: 49%;
  opacity: 1;
}
/*-----Shows-----*/
.Shows{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.Shows-col{
  flex-basis: 42%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: center;
}
.Shows-col img{
  width: 100%;
  border-radius: 10px;
}
.Shows-col p{
  padding: 0;
  font-size: 17px;
}
.Shows-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: center;
}
/*----- contact ------*/
.contact{
  margin: 100px auto;
  width: 80%;
  text-align: center;
  background-color: #013220;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
.contact h1{
  margin-bottom: 40px;
  padding: 0;
  font-size: 26px;
  color: #ffffff;
}
.contact a{
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.contact a:hover{
  border: 1px solid #97bf97;
  background: #97bf97;
  transition: 0.5s;
}
/*----- Footer ------*/
.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 15px;
}
/*-----Bears-----*/
.nav-links2{
  flex: 1;
  text-align: center;
}
.nav-links2 ul li{
  list-style: none;
  display: inline-block;
  padding: 14px 12px;
  position: relative;
}
.nav-links2 ul li a{
  color: #013220;
  text-decoration:none;
  font-size: 16px;
}
.nav-links2 ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #97bf97;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links2 ul li:hover::after{
  width: 100%;
}
.footer1{
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;
}
.bears{
  background-color: #013220;
  padding-bottom: 25px;
  position: relative;
  top: -625px;
  margin-bottom: -575px;
}
.bears h1{
  font-size: 25px;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  color: #ffffff;
}
.bears img{
  width: 50%;
  height: 50%;
  margin-left: 25%;
}
/*-----Marine-----*/
.marine{
  background-color: #013220;
  padding-bottom: 25px;
  position: relative;
  top: -625px;
  margin-bottom: -575px;
}
.marine h1{
  font-size: 25px;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  color: #ffffff;
}
.marine img{
  width: 50%;
  height: 50%;
  margin-left: 25%;
}
/*-----Landscapes-----*/
.landscapes{
  background-color: #013220;
  padding-bottom: 25px;
  position: relative;
  top: -625px;
  margin-bottom: -575px;
}
.landscapes h1{
  font-size: 25px;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  color: #ffffff;
}
.landscapes img{
  width: 50%;
  height: 50%;
  margin-left: 25%;
